<!DOCTYPE HTML>
<html>
  <head>
    <title></title>
      <style type="text/css">
        .blue {
          color: blue;
        }
        .green{
          color: green;
        }
        body {
          background-color: #E9EBEE;
        }
        p {
          font-size: 1em;
          background-color: cyan;
        }
        h1 h2 {
        }
      </style>
  </head>

  <body>
    <h1>Section 1</h1>
    <h2>1.1</h2>
      <p class="blue">This is my template of HTML.</p>
    <h2>1.2</h2>
      <p class="green">This is my template of HTML.</p>
    <h1>Section 2</h1>
    <h2>2.1</h2>
    <h2>2.2</h2>
  </body>
</html>
