<!DOCTYPE HTML>
<html>
  <head>
    <title>This is a template html site.</title>
    <link rel="stylesheet" type="text/css" href="temp.css">
    <style type="text/css">
      .green{
        border: solid 1px green;
        color: white;
        background-color: #98C564;
      }
    </style>
  </head>

  <body>
    <h1>This is a template html site.</h1>
    <h2>Section 1</h2>
      <p>This is my template of HTML.</p>
    <h2>Section 2</h2>
      <p class="green">This is my template of HTML.</p>
    <h2>Section 3</h2>
    <h2>Section 4</h2>
  </body>
</html>
