<!DOCTYPE HTML>
<html>
  <head>
    <title>This is a template html site.</title>
    <link rel="stylesheet" type="text/css" href="temp.css">
    <style type="text/css">
      .green{
        border: solid 1px green;
        color: white;
        background-color: #98C564;
      }
    </style>
  </head>

  <body>
    <h1>This is a template html site.</h1>

    <h2>HTML formatting</h2>
    <p>The followings are based on <a href="http://www.w3schools.com/html/html_formatting.asp">HTML formatting examples</a>.</p>

    <hr>

    <ul>
      <li>This is <b>bold</b> style.</li>
      <li>This is <strong>bold</strong> style.</li>
      <li>This is <i>italic</i> style.</li>
      <li>This is <em>emphasis</em> style.</li>
      <li>This is <u>underlined</u> style.</li>
    </ul>

    <hr>

    <ol>
      <li>This is <mark>marked</mark> style.</li>
      <li>This is <ins>underlined</ins> style.</li>
      <li>This is <sup>super script</sup> style.</li>
      <li>This is <sub>subscript</sub> style.</li>
      <li>This is <del>deleted</del> style.</li>
    </ol>

    <h2>Section 2</h2>

    <p><img alt="image" src="https://farm8.staticflickr.com/7536/30153193231_afee6fd158_z_d.jpg" width="50%"></p>
    <p><img alt="image" src="https://farm6.staticflickr.com/5342/30123529402_4053e60565_z_d.jpg" width="50%"></p>

    <h2>Section 3</h2>

    <h2>Section 4</h2>

  </body>
</html>
